<!DOCTYPE html>
<html>
	<head>
		<!-- /css/style.css?v=<?php echo date('his'); ?> -->
		<link type="text/css" rel="stylesheet" href="/static/main.css?v=1.2" />
		<title>Wiki</title>
	</head>

	<body>
		<a href="/" class="homepage">
			Wiki
		</a>

		<div class="login_area">
			{% if title %}
				<a class="login_link" href="/update_edit/{{ title }}">
			{% else %}
				<a class="login_link" href="/update_edit">
			{% endif %}
			edit</a>
			|
			<a class="login_link" href="/history">history</a>

			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    	{% if user %}
      	{{user.name}} (<a class="login_link" href="/logout">logout</a>)
    	{% else %}
      <a class="login_link" href="/login">login</a>
      |
      <a class="login_link" href="/signup">signup</a>
    	{% endif %}
  	</div>

<!--
  	<div id="sidebar">
  		{% for entry in entries %}
    		<a href="/{{ entry.title }}"><strong><p>{{ entry.title }}</p><strong></a>
    		<br>
  		{% else %}
    		<strong><p>Unbelievable.  No entries here so far!</p><strong>
  		{% endfor %}	
  	</div>
-->

  	<div id="page">
  		{% block content %}
  		{% endblock %}
  	</div>

	</body>
</html>