<!DOCTYPE html>
<html>
	<head>
		<!-- /css/style.css?v=<?php echo date('his'); ?> -->
		<link type="text/css" rel="stylesheet" href="/static/main.css?v=4.0" />
		<script type="text/javascript" src="/static/script.js"></script>
		<title>Wiki</title>
	</head>

	<body>
		<a href="/" class="homepage">
			Wiki
		</a>

		<div class="login_area">
			{% if user %}
				{% if not history_edit %}
					{% if title == "|" %}
						<a class="login_link" href="/_update_edit">
					{% else %}
						<a class="login_link" href="/update_edit/{{ title }}">
					{% endif %}
				{% else %}
					<a class="login_link" href="{{ url_for('history_update', title=title) }}">
				{% endif %}
				edit</a>
				|
			{% endif %}
			{% if not history_edit %}
				{% if title == "|" %}
					<a class="login_link" href="{{ url_for('history_homepage') }}">
				{% else %}
					<a class="login_link" href="/history/{{ title }}">
				{% endif %}
			{% else %}
				<a class="login_link" href="/history/{{ trunc_version(title) }}">
			{% endif %}
			history</a>

			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    	{% if user %}
      	{{ user }} (<a class="login_link" href="{{ url_for('logout') }}">logout</a>)
    	{% else %}
      <a class="login_link" href="{{ url_for('login_form') }}">login</a>
      |
      <a class="login_link" href="{{ url_for('signup') }}">signup</a>
    	{% endif %}
  	</div>

<!--
  	<div id="sidebar">
  		{% for entry in entries %}
    		<a href="/{{ entry.title }}"><strong><p>{{ entry.title }}</p><strong></a>
    		<br>
  		{% else %}
    		<strong><p>Unbelievable.  No entries here so far!</p><strong>
  		{% endfor %}	
  	</div>
-->
		<div id='signedin'>
			{% block signedin %}
			{% endblock %}

		<div id='history'>
			{% block history_content %}
			{% endblock %}
		</div>

  	<div id="page">
  		{% block content %}
  		{% endblock %}
  	</div>

	</body>
</html>