{% extends "base.html" %}

{% block history_content %}

	<table class=TFtable>
		{% for item in history %}
			<tr>
				<td>
					{{ item[3] }}
				</td>
				<td>
					{{ item[1] }}
				</td>
				<td>
					{% if history_edit %}
						<a class="login_link" href="{{ url_for('history_update', title=item[0]) }}">edit</a>
					{% else %}
						{% if title == "|" %}
							<a class="login_link" href="/_update_edit">
						{% else %}
							<a class="login_link" href="/update_edit/{{ title }}">
						{% endif %}
					{% endif %}
					edit</a>
				</td>
				<td>
					<a class="login_link" href="{{ url_for('viewpage', title=item[0]) }}">view</a>
				</td>
			</tr>
		{% endfor %}
	</table>

{% endblock %}